<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-lg-5">
        <input
          type="text"
          class="form-control"
          placeholder="Search by title"
          [(ngModel)]="name"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchName()"
          >
            Search
          </button>
        </div>
      </div>
    </div>
    <!-- <div class="col-md-6">
      <h4>User List</h4>
      <ul class="list-group">
         <li
          class="list-group-item"
          *ngFor="let user of users; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveUser(user, i)"
        >
          {{ user.name }} {{ user.expired_date}} {{ user.total_coins}} {{ user.unit_price}} {{ user.attive_voices}} {{ user.max_storage_size}} {{ user.apikey}} {{ user.email}} 
          
        </li> -->
      <!-- </ul>
      <button class="m-3 btn btn-sm btn-danger" (click)="removeAllUser()">
        Remove All
      </button>
      
      
    </div> -->
    <div class="card shadow border-0 mb-7">
      <div class="card-header">
          <h5 class="mb-0">User Information</h5>
      </div>
      <div class="table-responsive">
          <table class="table table-hover table-nowrap">
              <thead class="thead-light">
                  <tr>
                      <th scope="col">Number_ID</th>
                      <th scope="col">Name</th>
                      <th scope="col">Age</th>
                      <th scope="col">Address</th>
                      <th scope="col">Symptoms</th>
                      <th scope="col">Email</th>
                      <th scope="col">Phonenumber</th>
                    
                     
                      <th></th>
                  </tr>
              </thead>
              <tbody>
                  <tr  *ngFor="let user of users; let i = index"
                  [class.active]="i == currentIndex"
                  (click)="setActiveUser(user, i)"
                  >
                      <td> {{ user.id }} </td>
                      <td> {{ user.name }} </td>
                      <td> {{ user.age}} </td>
                      <td> {{ user.address}} </td>
                      <td> {{ user.symptoms}} </td>
                      <td>{{ user.email}}</td>
                      <td>{{ user.phonenumber}}</td>
                      <td><button class="m-1 btn btn-sm btn-info"routerLink="/user/{{ user.id}}"><i class="bi bi-pencil"></i></button></td> 
                      <td><button class="m-1 btn btn-sm btn-danger"(click)="removeUser()"><i class="bi bi-trash"></i></button></td> 

                      </tr>
              </tbody>
          </table>
      </div>
      <div class="card-footer border-0 py-5"> <span class="text-muted text-sm">Showing 10 items out of 250 results found</span> </div>
  </div>
    <div class="col-md-6">
      <app-user-details
        [viewMode]="true"
        [currentUser]="currentUser"
      ></app-user-details>
    </div>
  </div>
  
  